.widget {
  min-height: 52px;
  min-width: 140px;
  position: fixed;
  right: calc(50% - 70px);
  bottom: 90px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.widget__btn,
.widget__link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 7px 16px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-weight: 500;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  opacity: 0.7;
  font-family: inherit;
}

.widget__btn:hover,
.widget__link:hover {
  opacity: 1;
}

.widget__link {
  z-index: -10;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.widget.active .widget__link {
  z-index: 1;
  opacity: 0.7;
}

.widget.active .widget__link:hover {
  opacity: 1;
}

.widget.active .widget__link--phone {
  -webkit-transform: translateY(-220%);
  -ms-transform: translateY(-220%);
  transform: translateY(-220%);
}

.widget.active .widget__link--ws {
  -webkit-transform: translateY(-110%);
  -ms-transform: translateY(-110%);
  transform: translateY(-110%);
}

@media only screen and (min-width: 414px) {
  .widget {
    right: 90px;
    bottom: 120px;
  }
}